---
layout: page
title: Gadaj Zdrów – jedz i ćwicz
description: When building a website it's helpful to see what the focus of your site is. This page is an example of how to show a website's focus.
sitemap:
    priority: 0.7
    lastmod: 2017-11-02
    changefreq: weekly
---

h2 = 'About our Site'

span.image.left
  img alt="" src="{{ "/images/ioan.jpg" | absolute_url }}" /

p
  |
    Kiedy 4 lata temu pojechałam na kurs Instruktora metody Pilates do Podkowy Leśnej, nie sądziłam że przekuję to w regularną praktykę i&nbsp;pracę. Po prostu, pewnego dnia miałam dość tego, że po dniu siedzenia przed komputerem lub nad szkicownikiem (z&nbsp;wykształcenia jestem grafikiem), znowu boli mnie kark. I oto jestem tu.

p
  |
    GADAJ ZDRÓW. jest odpowiedzią na styl życia, który obserwuję na co dzień. Jest próbą zbudowania pomostu pomiędzy tym, że zawsze coś “musimy” i chcemy mieć czas dla “chcemy”. Dlatego nie ograniczam się wyłącznie do zajęć na sali treningowej. Organizuję różne warsztaty i spotkania, na których można ze mną poćwiczyć, a także dobrze zjeść, czy pogadać o masażu stóp, relakascji, diecie oczyszczającej. Wspieram całym serduchem i dołączam się chętnie do wszystkich działań, które aktywizują do ruchu lub służą edukowaniu o zdrowiu.

p
  |
    Kiedy nie jestem na macie, pracuję nadal przy kolejnym projekcie artystycznym lub próbuję podnieść swoją szosową średnią na Stravie.
    Chętnych do współpracy zapraszam do kontaktu mailowego: aniegadaj@gmail.com.
  |
    Na rower też się chętnie wybiorę :)
p
  |
    Foto promujące: P. Topolski
